<div class="grid grid-cols-1 md:grid-cols-2 w-full bg-[#1C232F] p-5 gap-6">
    <div class="text-gray-50">
      <!-- Title + Rating -->
      <div class="flex items-center gap-3">
        <p class="text-3xl md:text-4xl font-bold">The Witcher III</p>
        <div class=" text-black px-3 py-1 m-5 text-sm font-semibold" style="background-color:  #E8C63A">
           4.8/5 <i class="fa-regular fa-star mx-1" style="background-color: #E8C63A;"></i>
        </div>
      </div>

      <p class="mt-4 text-sm md:text-base">
        The Witcher 3: Wild Hunt is an action role-playing game with a third-person perspective. Players control Geralt of Rivia, a monster slayer known as a Witcher. Geralt walks, runs, rolls and dodges, and (for the first time in the series) jumps, climbs and swims.
      </p>

      <div class="mt-3 text-blue-400 flex gap-2 flex-wrap">
        <a href="#" class="hover:text-blue-300 transition">MMORPG</a>
        <a href="#" class="hover:text-blue-300 transition">Monsters</a>
        <a href="#" class="hover:text-blue-300 transition">Fiction</a>
      </div>

      <div class="mt-4">
        <p class="text-blue-500 hover:text-white cursor-pointer transition">
          Add to Wishlist <i class="fa-regular fa-heart"></i>
        </p>
      </div>

      <div class="mt-4 flex flex-col md:flex-row gap-3 mb-5">
        <button class="w-full md:w-64 h-12 bg-blue-600 text-white hover:bg-blue-700 transition " style="background-color: #3A66E8;">
          <i class="fa-solid fa-cart-shopping" style="background-color: #3A66E8;"></i> Add to cart
        </button>
        <button class="w-full md:w-64 h-12 border-2 border-blue-500 text-white hover:bg-blue-500 transition " >
          <i class="fa-solid fa-play"></i> Watch Trailer
        </button>
      </div>
    </div>

    <div class="flex justify-center">
      <img src="../../../../assets/images/witcher.avif" alt="The Witcher III" class="max-w-full h-auto rounded-lg">
    </div>
  </div>