:host {
  display: block;
  background-color: #1C2027;
  min-height: 100vh;
  padding: 20px;
  color: white;
}

.card {
  background-color: #1C2027; /* Match the parent */
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
}

.card-text {
  color: white;
  font-size: 1.0rem;
}

.card-img-top {
  height: 250px;
}

.card-body {
  padding: 20px;
}

.category-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
  scroll-behavior: smooth;

  /* Hide scrollbars */
  scrollbar-width: none;          /* Firefox */
  -ms-overflow-style: none;       /* Internet Explorer 10+ */
}

.category-container::-webkit-scrollbar {
  display: none;                  /* Safari and Chrome */
}

.pagination-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.pagination-container .btn {
  border: none;
  background-color: #fff;
  color: #2E4074;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination-container .btn.active {
  background-color: #2E4074;
  color: white;
  font-weight: bold;
}

.pagination-container .btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.dropdown-label {
  position: absolute;
  top: 13px;
  left: -50px;
  padding: 0 5px;
  font-size: 14px;
  font-weight: bold;
  color: white !important;
}

.form-select {
  border: none;
  box-shadow: none;
  background-color: transparent;
  color: white !important;
}

.form-select option {
  background-color: #2E4074;
  color: white !important;
}

.category-list {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

.category-card {
  background-color: transparent;
  border: 1.5px solid #2E4074;
  width: 200px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  flex-shrink: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.category-card:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

select option {
  color: white;
}

.search-group {
  background-color: #2E4074;
  border: none;
  border-radius: 5px;
}

.search-input {
  background-color: #1C232F !important;
  color: white !important;
  border: none !important;
}

.search-icon {
  background-color: #1C232F !important;
  border: none !important;
  color: white !important;
}

.search-input::placeholder {
  color: white;
  opacity: 0.8;
}
.free-text {
  position: absolute;
  bottom: 4px;
  right: 5px;
  padding: 4px 10px;
  font-size: 1.25rem;
  font-weight: bold;
 
  color: #3A66E8;
  z-index: 1;
}


.discount-badge {
  position: absolute;
  top: 6px;
  right: 2px;
  padding: 4px 10px;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 3px;
  background-color: #3A66E8;
  z-index: 1;
}

.old-price {
  text-decoration: line-through;
  color: #888; 
  font-size: 0.95rem;
  margin-left: 5px;
}

.discounted-price {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 5px;
}

.current-price {
  font-size: 1rem;
  font-weight: bold;
}