<div class="container">

  <h2 class="mt-5 mb-4">Categories</h2>

  <div class="category-container">
    <div class="category-list">
      <div class="category-card"  *ngFor="let category of categories" (click)="filterByCategory(category._id)"> {{ category.name }} </div>
    </div>
  </div>

 

  <div class="d-flex justify-content-between align-items-center my-3">
   
    <div class="input-group w-50 me-2 search-group">
      <span class="input-group-text search-icon">
        <i class="bi bi-search"></i>  
      </span>
      <input type="text"  class="form-control search-input"  placeholder="Search game"  (input)="searchGames($event)">

    </div>


 <div class="me-2 position-relative">
  <label for="sortFilter" class="dropdown-label">Sort by : </label>
  <select id="sortFilter" class="form-select mt-1 " (change)="sortGames($event)">

    <option value="asc">AlphabeticA-Z</option>

    <option value="desc">AlphabeticZ-A</option>
  </select>
</div>

  
    <div class="me-2 position-relative">

      <label for="priceFilter" class="dropdown-label">Price:</label>
      <select id="priceFilter" class="form-select mt-1" (change)="filterByPrice($event)">
        <option value="all">All</option>
        <option value="free">Free</option>
        <option value="cheap">Less than $25</option>
        <option value="expensive">More than $25</option>
      </select>
    </div>

   
  </div>


  <!-- <h2 class="text-center mb-4">Games</h2> -->
  <div class="row mt-5">
    <div class="col-md-3 mb-4" *ngFor="let game of paginatedGames">

      <div class="card h-100">
        <img [src]="game.gamePoster" class="card-img-top" alt="{{ game.gameName }}">
       <div class="card-body position-relative">
  <!-- <button *ngIf="game.price === 0" class="btn btn-primary btn-sm free-badge">Free</button> -->
  <span *ngIf="game.price === 0" class="free-text">Free</span>
  <button *ngIf="game.discount && game.discount > 0" class="btn btn-primary btn-sm discount-badge">
    {{ game.discount }}% Off
  </button>

  <h5 class="card-title mt-3">{{ game.gameName }}</h5>

  
  <div class="card-text" *ngIf="game.price !== 0">

    <span *ngIf="game.discount && game.discount > 0" class="discounted-price">${{ game.price - (game.price * game.discount / 100) | number: '1.2-2' }}</span>
    <span *ngIf="!(game.discount && game.discount > 0)" class="current-price">${{ game.price }}</span>
    <span *ngIf="game.discount && game.discount > 0" class="old-price">${{ game.price }}</span>

  </div>
</div>
        
        <!-- <div class="card-body">
        
          <h5 class="card-title">{{ game.gameName }}</h5>
          <h5 class="card-text"> {{'$ ' + game.price }}</h5> -->
          <!-- <p class="card-text">{{ game.description }}</p> -->
          <!-- <p><strong>Price:</strong> {{ game.price === 0 ? 'Free' : '$' + game.price }}</p> -->
          <!-- <p><strong>Rating:</strong> {{ game.rating }}</p>
          <p><strong>releaseYear:</strong> {{ game.releaseYear}}</p> -->
          <!-- <p><strong>Discount:</strong> {{ game.discount}} $ </p> -->

          <!-- <a [href]="game.trailer" target="_blank" class="btn btn-primary">Watch Trailer</a> -->
        <!-- </div> -->
      </div>
    </div>
  </div>


  <div class="pagination-container text-center mt-3">
    <button *ngFor="let page of [].constructor(totalPages); let i = index"  class="btn btn-outline-light mx-1" [class.active]="currentPage === i + 1"
      (click)="changePage(i + 1)">
      {{ i + 1 }}
    </button>
  </div>
</div>
