<div class="flex justify-around items-center w-full h-[120px] bg-linear-to-r from-[#3A66E8] to-[#213982]">
    <div class="flex flex-col text-left">
        <p class="text-white font-[ClashGrotesk-Medium] mb-2">All rights reserved | Copyright ©</p>
        <p class="text-white font-[ClashGrotesk-Regular] m-0">GAMA Team</p>
    </div>
<div></div>
<div></div>
<div></div>
    <div>
        <button class="flex justify-center items-center w-[64px] h-[64px] bg-white"><a href=""><img src="/images/arrow-filled.svg" alt="Top"></a></button>
    </div>
</div>
<div class="flex justify-between items-end w-full h-[300px] gap-3 bg-[#1C232F] p-5">
    <div class="flex gap-3">
        <div class="pages-links flex flex-col gap-3">
            <a class=" font-[ClashGrotesk-Medium]" href="">All Games</a>
            <a class=" font-[ClashGrotesk-Medium]" href="">New Arrivals</a>
            <a class=" font-[ClashGrotesk-Medium]" href="">Categories</a>
        </div>
        <div class="pages-links flex flex-col gap-3">
            <a class=" font-[ClashGrotesk-Medium]" href="">Sales</a>
            <a class=" font-[ClashGrotesk-Medium]" href="">Free Games</a>
            <a class=" font-[ClashGrotesk-Medium]" href="">About</a>
        </div>
    </div>
    <div class="flex justify-center items-center">
        <img class=" relative top-[-130px]" src="/images/v-logo-border.svg" alt="" width="150px">
    </div>
    <div class="socials">
        <p class="text-white font-[ClashGrotesk-Medium]">Follow Us on</p>
        <div class="icons flex self-end flex-row gap-3">
            <a href=""><img src="/images/Discord.svg" alt="Discord" width="48px"></a>
            <a href=""><img src="/images/Facebook.svg" alt="Facebook" width="48px"></a>
            <a href=""><img src="/images/X.svg" alt="X" width="48px"></a>
        </div>
    </div>
</div>