<!-- <p class="text-3xl font-bold underline">header works!</p> -->

<div class="flex h-[80px] bg-[#1C232F]">
    <div class="flex justify-around items-center gap-3 w-full">
        <div>
            <img src="images\h-logo.svg" alt="" width="120px">
        </div>
        <div class="flex gap-5 font-[ClashGrotesk-Regular]">
            <a class="nav-links" href="">Home</a>
            <a class="nav-links" href="">Games</a>
            <a class="nav-links" href="">Categories</a>
            <a class="nav-links" href="">About</a>
        </div>
        <div class="flex gap-3 font-[ClashGrotesk-Medium]">
            <button class="flex justify-center items-center h-[50px] w-[120px] bg-[#2F52BD] p-3 "><a class="text-white" href="">Sign Up</a></button>
            <button class="flex justify-center items-center h-[50px] w-[80px] bg-[#2E4074] p-3 "><a class="text-white" href="">Login</a></button>
        </div>
    </div>
</div>