<div class="bg-[#1C2027] h-screen px-5">
    <div class="flex flex-col w-full h-[33%] p-5">
        <p class="font-[ClashGrotesk-Semibold] text-3xl text-white">ABOUT GAMA</p>
        <div class="flex w-[500px]">
            <p class=" font-[ClashGrotesk-Medium] text-xl text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit reiciendis ullam, 
                vitae beatae ratione earum nobis voluptatibus esse facilis,
                 minus dolor soluta cum aliquam omnis fugit? Modi, expedita. Dignissimos, libero.
            </p>
        </div>
    </div>
    <div class="relative flex flex-row w-full h-[65%] p-5">
        <div class="flex flex-col justify-center w-[60%] h-[100%] bg-linear-to-t from-[#152657] to-[#3A66E8] p-5">
            <p class="font-[ClashGrotesk-Semibold] text-2xl text-white m-0">VIsion</p>
            <p class=" font-[ClashGrotesk-Medium] text-xl text-white w-[60%]">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae magni 
                labore eaque molestias voluptatibus, eos officia id aliquam, 
                aliquid eveniet nesciunt fugiat.     
            </p>
            <p class="font-[ClashGrotesk-Semibold] text-2xl text-white m-0">Mission</p>
            <p class=" font-[ClashGrotesk-Medium] text-xl text-white w-[60%]">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae magni 
                labore eaque molestias voluptatibus, eos officia id aliquam, 
                aliquid eveniet nesciunt fugiat. 
            </p>
        </div>
        <div class="flex flex-row justify-center w-[40%] h-[100%] bg-white">
            <div class="flex items-center w-[78%]">
                <img class="w-[270px]" src="images\about_Layer_1.svg" alt=".logo">
            </div>
            <div class=" w-[22%] flex justify-center items-center flex-col gap-3">
                
                    <a href=""><img src="images\X_about.svg" alt="X" width="50px"></a>
                    <a href=""><img src="images\f_about.svg" alt="Facebook" width="50px"></a>
                    <a href=""><img src="images/d_about.svg" alt="Discord" width="50px"></a>
                
            </div>
        </div>
        <img class="w-[540px] absolute bottom-12 left-1/2 transform -translate-x-[26%] z-20" src="images\about_fighter.svg">
        
    </div>
</div>
