<div
  class="flex flex-col gap-4 py-4 items-center bg-linear-to-b from-[#2F52BD] to-[#152657] h-screen"
>
  <div class="bg-white w-[90%] h-auto overflow-auto flex flex-col gap-2 py-3">
    <app-game-detail *ngFor="let game of games | slice:8:12" [gameName]="game.gameName" [gamePoster]="game.gamePoster" [gamePrice]="game.price" [gameCompany]="game.company"></app-game-detail>
    <!-- <app-game-detail></app-game-detail>
    <app-game-detail></app-game-detail>
    <app-game-detail></app-game-detail> -->
  </div>
  <div class="bg-white w-[90%] h-auto flex flex-col px-4 py-3">
    <div class="flex flex-row justify-between">
      <p class="my-2 font-[ClashGrotesk-Medium] text-lg text-gray-400">Price</p>
      <p class="my-2 font-[ClashGrotesk-Medium] text-lg text-gray-400">
        $83.97
      </p>
    </div>
    <div class="flex flex-row justify-between">
      <p class="m-0 font-[ClashGrotesk-Medium] text-lg text-gray-400">
        Discount
      </p>
      <p class="m-0 font-[ClashGrotesk-Medium] text-lg text-gray-400">
        -$10.59
      </p>
    </div>
    <hr class="border-gray-300 w-full align-self-center" />
    <div class="flex flex-row justify-between">
      <p class="m-0 font-[ClashGrotesk-Medium] text-xl">Total Price</p>
      <p class="m-0 font-[ClashGrotesk-Medium] text-xl">$73.97</p>
    </div>
  </div>
</div>
