<div class="shadow flex bg-[#F0F0F0] justify-self-center w-[95%] h-[150px]">
  <div class="w-auto  flex justify-self-center justify-start items-center p-2 ">
    <div class="bg-gray-300 w-[100px] h-[132px]"></div>
  </div>
  <div class="w-[70%]  p-1 ">
    <div>
      <p class="font-[ClashGrotesk-SemiBold] text-xl m-0">The Witcher</p>
      <p class="font-[ClashGrotesk-Regular] m-0">CD Projekt Red</p>
    </div>
    <div>
      <p class="mt-2 font-[ClashGrotesk-Medium]">$27.99</p>
    </div>
  </div>
  <div class="w-[50px]  flex-col">
    <img src="images/Delete.svg" alt="" class="w-[20px] justify-self-center pt-2 " />
  </div>
</div>
