<div class="shadow flex bg-[#F0F0F0] justify-self-center w-[95%] h-[150px]">
  <div class="w-[40%]  flex justify-center items-center">
    <div class="bg-gray-300 w-[88%] h-[88%]"></div>
  </div>
  <div class="w-[60%]  p-1">
    <div>
      <p class="font-[ClashGrotesk-SemiBold] m-0">The Witcher</p>
      <p class="font-[ClashGrotesk-Regular] m-0">CD Projekt Red</p>
    </div>
    <div>
      <p class="mt-2 font-[ClashGrotesk-Medium]">$27.99</p>
    </div>
  </div>
  <div class="w-[10%]  flex-col">
    <img src="images/Delete.svg" alt="" class="w-[20px] justify-self-center pt-2 " />
  </div>
</div>
